@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slow-bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.animate-slow-bounce {
  animation: slow-bounce 0.7s ease-out infinite;
}
